 * {
     box-sizing: border-box;
 }

 img {
    max-width: 100%;
 }

 body {
     font-family: 'Lato', sans-serif;
     font-size: 14px;
 }

/*.slider-wrapper {
    height: 736px;
    background-image: url("../images/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}*/

/*.slider-wrapper:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0.7;
}*/
.slider{
    position: relative;
}
.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    
}
.den{
       position: absolute;
    top: 0;
    left: 0;
    background-color: #00000094;
    width: 100%;
    height: 120%;
}
.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0;
}

.menu-left ul,
.menu-right ul {
    display: flex;
}

.header-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    margin: 0 60px;
}

 .header-menu ul li {
     padding: 20px;
 }

 .header-menu ul li a {
     text-transform: uppercase;
     font-size: 12px;
     color: #c3a281;
     position: relative;
 }

 .header-menu ul li.active a,
 .header-menu ul li:hover a {
     color: #fff;
     text-decoration: none;
 }
 .header-menu ul li:hover a:before,
 .header-menu ul li.active a:before {
     opacity: 1;
 }
 .header-menu ul li a:before {
     content: "";
     width: 100%;
     height: 1px;
     background-color: #c3a281;
     left: 0;
     bottom: -3px;
     position: absolute;
     opacity: 0;
 }
 .slider-content {
     position: absolute;
     z-index: 1;
     top: 50%;
     left: 0;
     right: 0;
     transform: translateY(-50%);
 }
 .slider-inner {
     display: flex;
     align-items:  center;
     justify-content: center;
     flex-direction: column;
 }
 .slider-action {
     margin-top: 60px;
 }
 .slider-inner a {
     display: inline-block;
     font-size: 18px;
     color: #000;
     line-height: 44px;
     padding: 0 25px;
     background-color: #c3a281;
     text-align: center;
     margin: 0 15px;
     text-transform: uppercase;
     transition: all 0.3s ease;
 }
 .slider-inner a:hover {
     text-decoration: none;
     background-color: #000;
     color: #c3a281;

 }

 .owl-carousel {
     height: 300px;
     background-color: #fff;
 }
 /*css content*/
 .content-img{
    
    height: 720px;
    background-image: url("../images/our__story.png");
    
    background-size: cover;
    position: relative;
    
 }
 .img-content{
    height: 616px;
    display: flex;
    
    align-items: center;
    max-width: 100%;

    

    
    
 }
  
 .img img{
    width: 100%;
  
  
    transform: translateX(-15%);
  
 }
 .clo-6 h1{
    color: #b8b294;
 }
 p.text_out {

    width: 68%;
    text-align: justify;



}
.col-6.content-left img {
    max-width: 100%;
    margin-left: -23%;
    /* width: 620px; */
}
 .col-6.content-right{
        display: block;
        position: relative;
 }
 .col-6.content-right h2{
    color: #b47638;
    font-size: 40px;
 }
 .col-6.content-right h2::after{
    content: "";
    position: absolute;
    background-color: #b47638;
    height: 2px;
    width: 50%;
    margin-top: 37px;
 }
 .button_content {
    background-color: #c3a281;
    text-align: center;
    width: 109px;
    height: 33px;
    color: black;
    padding-top: 6px;
    margin-top: 33px;

}
.button_content:hover{
    opacity: 1;
    background-color: #00000094;
    color: white;
}
 a.button_read_more:hover{
    color: blue;
 }
 a.button_read_more {
    color: black;
    padding-top: 10px;
    text-decoration: none;
    
}
h1.out__story {
    /* margin-top: 38px; */
    margin: revert;
}
.content_menu{
    margin-top: 50px;
   
    

 }
 .content__menu-lorem a{
     position: relative;
 }
 .content__menu-lorem a:after{
    content: "";
    position: absolute;
    top: 17px;
    left: 0px;
    background-color: blue;
    width: 100%;
    /* bottom: -11px; */
    height: 2%;
}
 .content_menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    
   

 }
 .content_menu ul li{
    text-decoration: none;
    padding: 15px 50px;
    font-weight: bold;
 }
 
 .content_menu ul li:hover  a{
     color:#00000094 ;
     text-decoration: none;
 }

 .next_left{
    position: absolute;
    top: 41%;
    left: 0;
   

   
    
 }
 .next_right{
  position: absolute;
  top: 41%;
    right: 0;
 }
 /*css content one*/
.contentone_img{
    height: 687px;
    background-image: url("../images/banner__picture.png");
    background-size: cover;
    position: relative;
}

.col-6{
    margin-top: 40px;
        width: 100%;
   
}
.product-content-img.item-two{
    position: relative;
}
.product-xanh {
    opacity: 0;
    position: absolute;
    top: 10px;
    left: 9px;
    /* right: 17px; */
    background-color: #c3a281;
    width: 84%;
    height: 93%;
}
.product-xanh p{
 color: white;
 text-transform: uppercase;
 font-size: 15px;
 text-align: center;
}
.product-xanh.anh img{
    width: 100%;
    margin-left: -3px;
    padding-top: 1px;
}
.product-xanh:hover{
    opacity: 1;
    transition: 1s;
}
.product-xanh img{
    margin-left: 10px ;
    
}
.product-content-right {
    position: relative;
}
.product-text-img p{
    position: absolute;
    top: 60%;
    left: 37%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    
}
.product-text-img p:after{
    content:"";
    position: absolute;
    background-color: coral;
    width: 140%;
    height: 2px;
    left: -30px;
    bottom: -15px;

}

.product-text-one-img p{
    position: absolute;
    top: 70%;
    left: 0;
    text-align: center;
    color: white;
    
}
.button-one {
    position: absolute;
    top:80%;
    left: 40%;
    width: 20%;
    background-color: cornflowerblue;
}
.button-one p{
    text-align: center;
    padding-top: 10px;
}

.product-content___{
  opacity: 0;
  transition: 1s;
  
}
.product-content-right:hover .product-content___{
    opacity: 1;
} 
.product-trang{
    background-color: rgb(236, 236, 243);
    width: 70%;
    margin-left: 30px;
    height: 20%;
    
}
.product-trang p{
    padding-top: 10px;
    color: rgb(31, 18, 10);
}
.contentone_trai img{
width: 100%;
}
.contentone_phai img{
width: 10%;
height: 50%;
}
.contentone_phai{
    position: relative;
}
.button_contentone_phai{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 42%;
    background-color: #b8b294;
    color: white;
    font-size: 60px;
    height: 90px;
    width: 90px;
    

}
.button_contentone_phai:hover{
    color: #b47638;
}
.content-right-text{
    position: absolute;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    padding-top: 30%;
}
.content-button{
    position: absolute;
    text-transform: uppercase;
    background-color: #2abd8e;
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
    font-size: 100%;
}
.content-button a{
    text-decoration: none;color: white;
}
.content-button:hover {
  background-color: #495057;
}
p.hihi{
    display: flex;
    font-size: 30px;    
    font-weight: bold;
    width: 50%;
}
.col-6.contentone_trai,
.col-6.contentone_phai{
    width: 100%;
}

.col-6.contentone_phai img {
    width: 100%;
    height: 92%;
    margin-top: 23px;
    
}
.button_contentone_phai a{
    color: white;
}
.button_contentone_phai:hover {
    color: #b47638;
    background-color: #1a180e;
   
}
.product-wrap {
    display: flex;
    flex-wrap: wrap;
}
.product-item {
    width: 50%;
    padding: 10px;
}
.product-item img{
     
    max-width: 99%;
    padding-right: -26px;
    margin-top: 15px;
    padding-right: 10px;

}
/*css content two*/
.contenttwo_img{
    height: 890px;
    background-image: url('../images/contact__us.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}
.text_contentwo{
    text-align: center;
    padding-top: 25px;
}
.text_contentwo h1,
.text_contentwo p
{
    color: #b8b294;

}
.text_contentwo h1::after {
    content: "";
    position: absolute;
       width: 27%;
    top: 0;
    left: 37%;
    /* justify-content: space-evenly; */
    height: 2px;
    margin-top: 73px;
    /* padding-right: 32px; */
    padding-left: -15px;
    background-color: #4ee2ab;
}
.content_lon{
    right: 0;
}
.product-content-left{
    display: flex;
    flex-wrap: wrap;
}
.product-content-img {
    width: 50%;
    padding: 10px;
    /* margin-left: 10px; */
}
.product-content-img img{
    width: 90%;

}
.product-content-right{
     width: 100%;

}
.product-content-right img{
      width: 100%;
    height: 92%;
    margin-top: 10px;
    margin-left: 0px;

}

.product-content-right img
.text_contentwo .col-6 {
    padding-left: 0;
    padding-right: 0;
}
.row.content {
    margin-left: 77px;
}
/*css content tree*/
.content-tree{
    height: 629px;
    background-image: url('../images/about__us.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}


.col-6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;
    padding-top: 40px;
    
}
.product-person{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-three-phai{
border: 1px solid rgb(253, 253, 255);
width: 20%;
height: 10%;
margin-top: 10px;
}
.product-three-phai p{
    text-align: center;
    padding-top: 20px;
    color: white;
}
.product-content-tree{
    position: relative;
}
.product-content-person{
    opacity: 1;
    position: absolute;
    top: 77%;
    left: -100%;
    width: 95%;
    background-color: rgb(202, 182, 131);
    height: 23%;
    transition: all ease-in 500ms;
}
.product-content-tree:hover .product-content-person{
  left: 0;
}
.text-product p{
    color: white;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 20px;
    
}
.text-product-one{
    color: white;
}
.product-content-tree{
    overflow: hidden;
    cursor: pointer;
}
.product-content-tree img{
    height: 50%;
    padding-right: 9%;
    transition: all ease-in-out 500ms;
    
}
.product-content-tree:hover img{
    transform: scale(1.1);
}
.product_content_tree_phai{
    width: 80%;
}
.product_content_tree_phai p{
    font-size: 20px;
    color: #4bec7d;
    position: relative;
}
.product_content_tree_phai b{
    color: white;
}
.product_content_tree_phai p:after{
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    background-color: #4bec7d;
    width: 70%;
    height: 2px;
    bottom: 20px;

}
.product_content_tree_phai iframe{
    width: 100%;
    height: auto;
}
.text-phai p{
    text-transform: uppercase;
}
/*css map-contact*/
.contact{
    display: flex;
    justify-content: center;

}
.text-contact h2{
    color: #2abd8e;
    position: relative;
}
.text-contact h2:after{
    content:"";
    position: absolute;
    left: 0;
    top: 41px;
    
    background-color: #2abd8e;
    width: 82%;
    height: 2px;
}
.map-contact{
     height: 950px;
    background-image: url('../images/content__top.png');
    background-size: cover;
    background-repeat: no-repeat;
    

}
.contact-map{
    
    
    position: relative;
    width: 50%;
}
.text-contact{
    
    margin-right: 30px;
    margin-top: 150px;
    margin-left: -15px;
    width: 278px;
    left: auto;
}

iframe{
    margin-top: 150px;
    width: 700px;
    height: 695px;
}
.send{
    opacity: 0;
    background-color: #81af81f7;
    width: 668px;
    height: 488px;
    position: absolute;
    top: 58%;
    left: -120%;
    
    transition: 1s;

}

.map:hover .send{
    left: -50%;
    opacity: 1;
    
}
.form-control {
    display: block;
    width: 74%;
    padding: .5rem .75rem;
    font-size: 1rem;
    /* line-height: 1.25; */
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    /* border: 1px solid rgba(0,0,0,.15); */
    /* border-radius: .25rem; */
    /* transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; */
    text-align: center;
    padding-right: 10%;
    margin-right: -2px;
}
input {
    background-color: #81af81f7;
    color: white;
    width: 92%;
    padding: 10px;
    margin: 22px;
    border: 1px solid white;
}
textarea{
background-color: #81af81f7;
    color: white;
    width: 92%;
    padding: 10px;
    margin: 22px;
    border: 1px solid white;
}
.button {
    background-color: white;
    padding: 10px;
    width: 16%;
    margin: 0 22px 0;
    text-align: center;
}
/*css footer*/
.footer-image{
    background-image: url("../images/footer.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 360px;
}
.row.trang{
    color: white;
    padding-top: 5%;
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 12.333333%;
}
.col-1.home ul{
    list-style: none;
}
.col-1.home ul li{
    padding-right: 10px;

}
.col-4.home ul{
    list-style: none;
}
.col-1.home ul li.modi,
.col-4.home ul li.modi{
    opacity: 0.5;
}
hr {
    border: 0.1px solid white;
    opacity: 0.4;
    margin-top: 60px;
}
@media only screen and (max-width: 320px) {
    .slider-inner {
        /* margin-top: -143px; */
        /* width: 96%; */
        opacity: 0;
    }
    .img-content {
        display: block;
    }
    .col-6.content-left img {
        max-width: 244%;
        margin-left: 100%;
        /* width: 620px; */
        margin-top: -79px;
    }
    .col-6.content-right h2 {
        transform: translateY(-233%);
        font-size: 23px;
        /* padding: 0; */
        /* margin: 0; */
        /* top: 0; */
        /* left: 0; */
        padding-top: 0%;
    }
    .col-6.content-right h2::after {
       
        margin-top: 21px;
        width: 195px;

    }
    p.text_out {
        width: 193%;
        
        transform: translateY(-16%);
    }
    .content_menu ul li {
        text-decoration: none;
        padding: 17px 10px;
        font-weight: bold;
        /* padding-left: 25px; */
        padding-right: 50px;
    }
}

/* @media only screen and (max-width: 1024px) {
    .slider-inner {
        
        margin-top: -57%;
    }
    .send {
        background-color: #81af81f7;
        width: 668px;
        height: 488px;
        position: absolute;
        top: 58%;
        left: -72%;
    }
} */
